* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* 防止出现滚动条 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #f0f2f5;
}

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}

/* 保证主要内容区域可以独立滚动 */
main {
    overflow-y: auto;
}

/* More subtle scrollbar for specific components */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e5e7eb; /* gray-200 */
    border-radius: 3px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* gray-300 */
}
